---
import NavBar from "@/components/shared/NavBar.astro";
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout title="Space Tourism" description="Let's explore the outer space and learn about the universe.">
  <main class="size-full min-h-screen">
    <NavBar />
  </main>
</PageLayout>

<style>
  main {
    background-image: url("../assets/home/background-home-mobile.jpg");
    @apply bg-cover bg-no-repeat;
  }

  @media (min-width: 768px) {
    main {
      background-image: url("../assets/home/background-home-tablet.jpg");
    }
  }

  @media (min-width: 1280px) {
    main {
      background-image: url("../assets/home/background-home-desktop.jpg");
    }
  }
</style>
