@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-preset-1 {
    font-size: 144px;
    font-family: "Bellefair", serif;
  }

  .text-preset-2 {
    font-family: "Bellefair", serif;
    font-size: 100px;
  }

  .text-preset-3 {
    font-family: "Bellefair", serif;
    font-size: 56px;
  }

  .text-preset-4 {
    font-family: "Bellefair", serif;
    font-size: 32px;
  }

  .text-preset-5 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 28px;
  }

  .text-preset-6 {
    font-family: "Bellefair", serif;
    font-size: 28px;
  }

  .text-preset-7 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
  }

  .text-preset-8 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
  }

  .text-preset-9 {
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    line-height: 180%;
  }
}
